[Container]
ContainerName=caddy
Secret=caddy-cloudflare-key,type=env,target=CADDY_CLOUDFLARE_KEY
AddCapability=NET_ADMIN
Image=caddy.build
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Volume=caddy-conf:/etc/caddy
Volume=caddy-site:/srv
Volume=caddy-data:/data
Volume=caddy-config:/config
Network=private-network.network

[Service]
Restart=always

[Install]
WantedBy=default.target
