[Container]
ContainerName=vaultwarden
Environment=DOMAIN=https://your.domain.tld
Secret=vw_database_url,type=env,target=DATABASE_URL
Secret=vw_admin_token,type=env,target=ADMIN_TOKEN
Image=vaultwarden/server:latest
Network=private-network.network
Network=vaultwarden-network.network
Volume=vw-data:/data/
HealthCmd=/healthcheck.sh
HealthInterval=120s
HealthRetries=10
HealthTimeout=45s

[Install]
WantedBy=default.target

[Service]
Restart=always

[Unit]
Requires=vaultwarden-db.service
After=vaultwarden-db.service
