[Unit]
Requires=tandoor-db.service
After=tandoor-db.service

[Container]
ContainerName=tandoor-web
Environment=TZ=UTC
Environment=DB_ENGINE=django.db.backends.postgresql
Environment=POSTGRES_HOST=tandoor-db
Environment=POSTGRES_DB=djangodb
Environment=POSTGRES_PORT=5432
Environment=POSTGRES_USER=djangouser
Environment=ALLOWED_HOSTS=your.domain.tld
Secret=tandoor-postgres-password,type=env,target=POSTGRES_PASSWORD
Secret=tandoor-secret-key,type=env,target=SECRET_KEY
Image=ghcr.io/tandoorrecipes/recipes:2
Volume=tandoor-staticfiles:/opt/recipes/staticfiles
Volume=tandoor-mediafiles:/opt/recipes/mediafiles
Network=tandoor-network.network
Network=private-network.network

[Service]
Restart=always

[Install]
WantedBy=default.target
