[Container]
ContainerName=tandoor-db
Environment=TZ=UTC
Environment=POSTGRES_HOST=tandoor-db
Environment=POSTGRES_DB=djangodb
Environment=POSTGRES_PORT=5432
Environment=POSTGRES_USER=djangouser
Environment=POSTGRES_PASSWORD_FILE=/run/secrets/tandoor-postgres-password
Image=postgres:16-alpine
Secret=tandoor-postgres-password
Volume=tandoor-postgres:/var/lib/postgresql/data
Network=tandoor-network.network


[Service]
Restart=always

[Install]
WantedBy=default.target
